build/
patch/
*.log
retrobat.ini
*.bak
./*.exe
butler_push.txt
*.001
system/tools/.wget-hsts
build.log
RetroBat-*-setup.exe
RetroBat-*-setup.exe.sha256.txt
retrobat-*.zip
retrobat-*.zip.sha256.txt
InstallerHost.exe.config
RetroBuild.exe.config